# Various IDEs and Editors
.vscode/*
!.vscode/settings.json
.idea/
.zed/
**/*~
*.iml
*.wasm
*.wasm.gz

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.env
.env.development
.env.test

# rust
/target/
/release/

# frontend code
node_modules/
dist/

# dfinity snapshot files
snapshot/

# AI instructions
dev/
.github/
.claude/
